<footer>
    <p class="footer_links"><a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Site Map</a> | </p><span></span>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>