<!DOCTYPE html>
<html>
<head>
    <title>CSSI</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>
<body>

<header>
    <a href="home.html"><img id="main_logo" alt="Brand" src="images/logo.jpg"></a>
    <ul class="navbar">
        <li class="top_links"><a href="services.html">Services</a></li>
        <li class="top_links"><a href="downloads.html">Downloads</a></li>
        <li class="top_links"><a href="aboutus.html">About Us</a></li>
        <li class="top_links"><a href="contactus.html">Contact Us</a></li>
        <li class="top_links"><a href="whitepapers.html">White Papers</a></li>
    </ul>
</header>