<!DOCTYPE html>
<html>
<head>
    <title>CSSI</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>
<body>

<header>
    <a href="/"><img id="main_logo" alt="Brand" src="images/logo.jpg"></a>
    <ul class="navbar">
        <li class="top_links"><a href="services">Services</a></li>
        <li class="top_links"><a href="downloads">Downloads</a></li>
        <li class="top_links"><a href="aboutus">About Us</a></li>
        <li class="top_links"><a href="contactus">Contact Us</a></li>
        <li class="top_links"><a href="whitepapers">White Papers</a></li>
    </ul>
</header>