<% include ./partials/header %>

<div class="container_content">

    <h1>Downloads</h1>

    <p>Welcome to CSSI's Axys download area.
        Upon logging in you will find reports and programs for Advent APX
        and Axys to help you deliver better information to your managers and your clients.
        Login below to access your profile and free reports.
    </p>



<h2 class="heading">Login</h2>

<form action="/downloads" method="POST">
    <fieldset class="all_forms">
        <label for="username">User ID:</label><br>
        <input type="text" id="username" name="User ID"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="Password"><br>
        <button type="submit" value="login">Login</button>
    </fieldset>
</form>


<h3 class="heading">Don't have a profile? Register below to gain access.</h3>


<form class="heading">
    <input type="button" value="Register" onclick="window.location.href='register'"/>
</form>

</div>

<% include ./partials/footer %>