<% include ./partials/header %>

<iframe src="https://player.vimeo.com/video/238097469?autoplay=1&loop=1&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


<div class="container_content">

    <p>CSSI is a software consulting and BackOffice services company helping investment management firms get the most out of their portfolio management systems. Since 1997 we have been actively providing Advent Axys&reg;/APX&reg; custom reporting solutions and related software services. CSSI has designed and implemented dozens of reporting packaging systems. CSSI also offers cloud-based services, our client portal service, and assistance with special interfaces, system conversions, data clean-up and process automation.</p>

    <p>In 2005, CSSI expanded its offerings to include BackOffice outsourcing services for daily reconciliation, performance building, quarterly report generation, and GIPS composite maintenance using Advent Axys&reg;/APX&reg;, Schwab PortfolioCenter; and Morningstar&reg; platforms.</p>

    <p>CSSI is headquartered in King of Prussia, PA with additional offices in Louisville, KY, Phoenix, AZ, Bradenton, FL, and London, UK.</p>

</div>



<% include ./partials/footer %>