<% include ./partials/header %>

<div class="container_content">
    <h2>All Current Users</h2>


</div>

<div class="heading">

    <% users.forEach(function(user) { %>
        <ol>
            <h3> <%= user.firstname %> </h3>
        </ol>
    <% }); %>

    <div>



<% include ./partials/footer %>