<% include ./partials/header %>

<div class="container_content">
    <h2 class="headingcenter">All Current Users</h2>

</div>


<div class="container_user">
    <% console.log(users)%>
    <div class="list">
    <% users.forEach(function(user) { %>
        <ol class="userlist">
            <li> <%= user.firstname %> - <%= user.companyname %></li><span class="details_button"><button class="get_profile" data-id="<%= user.id %>" >Details</button></span>
        </ol>
    <% }); %>
    </div>


<div id="userdetails">
        <div>First Name:  <span id="enterfname"></span></div>
        <div>Last Name:  <span id="enterlname"></span></div>
        <div>Company:  <span id="entercompany"></span></div>
        <div>Job Title:  <span id="entertitle"></span></div>
        <div>Address:  <span id="enteradd"></span></div>
        <div>Zip:  <span id="enterzip"></span></div>
        <div>City:  <span id="entercity"></span></div>
        <div>State:  <span id="enterstate"></span></div>
        <div>Country:  <span id="entercountry"></span></div>
        <div>Phone:  <span id="enterphone"></span></div>
        <div>Email:  <span id="enteremail"></span></div>
        <div>Website:  <span id="enterweb"></span></div>
        <div>System Currently Using:  <span id="entersys"></span></div>
</div>

</div>



<% include ./partials/footer %>