<% include ./partials/header %>

<div class="container_content">
    <h1>All Current Users</h1>


</div>

<div class="heading">

    <% users.forEach(function(user) { %>
        <li>
            <h2> <%= user.firstname %> </h2>
        </li>
    <% }); %>

    <div>



<% include ./partials/footer %>