<% include ./partials/header %>

<div class="container_content">
    <h2 class="headingcenter">All Current Users</h2>

</div>


<div class="container_user">

    <div class="list">
    <% users.forEach(function(user) { %>
        <ol class="userlist">
            <li> <%= user.firstname %> - <%= user.companyname %></li><span class="details_button"><button class="get_profile">Details</button></span>
        </ol>
    <% }); %>
    </div>


<div class="userdetails">
        <div>First Name:<span class="enterinfo"></span></div>
        <div>Last Name:<span class="enterinfo"></span></div>
        <div>Company:<span class="enterinfo"></span></div>
        <div>Job Title:<span class="enterinfo"></span></div>
        <div>Address:<span class="enterinfo"></span></div>
        <div>Zip:<span class="enterinfo"></span></div>
        <div>City:<span class="enterinfo"></span></div>
        <div>State:<span class="enterinfo"></span></div>
        <div>Country:<span class="enterinfo"></span></div>
        <div>Phone:<span class="enterinfo"></span></div>
        <div>Email:<span class="enterinfo"></span></div>
        <div>Website:<span class="enterinfo"></span></div>
        <div>System Currently Using:<span class="enterinfo"></span></div>
</div>

</div>



<% include ./partials/footer %>