* {
	font-family: Arimo, Arial, Helvetica, San-serif;
	box-sizing: border-box;
}

.wrap {
	min-height: calc (100vh - 89px);
}

/* iframe {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

} */


rgb(93,188,210);

rgb(46,0,56);


/* =====================
Media Queries
===================== */

@media (min-width: 769px) {
	.something {
		width: 70%
		max-width 1000px;
		margin: 0 auto;
	}
}
